<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
         rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
         crossorigin="anonymous"
      />
      <title>{{detail.title}}</title>
   </head>
   <body>
      <h1 class="text-center">Detail Page</h1>
      <div class="container">
         <p>{{detail.title}}</p>
         <p>{{detail.description}}</p>
         <p>{{detail.situation}}</p>
         <p>{{detail.views}}</p>
         <p>{{detail.created_at}}</p>
         id
      </div>
   </body>
</html>
