{% extends 'blog/blog-base.html' %}

<!-- load static -->
{% load static %}

<!-- block content -->
{% block content %}

<!-- social_share -->
{% load social_share %}

<section dir="rtl" class="s-content s-content--top-padding s-content--narrow">
   <article class="row entry format-standard">
      <div class="px-5 container cursor">
         <div style="cursor: pointer">
            {% post_to_telegram 'new' article.get_absolute_url %}
         </div>
      </div>

      <div class="entry__media col-full">
         <div class="entry__post-thumb">
            <img src="{{ article.cover.url }}" alt="{{ article.title }}" />
         </div>

         <div class="likebtnWrapper">
            <div class="likeBtn">
               <div id="like_by_me_btn" onclick="likeByMeHandler()">
                  <i
                     class="{% if like_by_me %}fas{% else %}far{% endif %} fa-heart"
                     style="font-size: 24px"
                     id="like_by_me_icon"
                  ></i>
                  <span id="article_id_value" style="display: none">
                     {{ article.id }}
                  </span>
               </div>
               <p id="like_by_me_counter">{{ article.likes.count }}</p>
            </div>

            <div class="dislikeBtn">
               <div>dislike</div>
               <p>{{ article.dislikes.count }}</p>
            </div>
         </div>
      </div>

      <div class="entry__header col-full">
         <h1 class="entry__header-title display-1">{{ article.title }}</h1>

         <ul class="entry__header-meta">
            <li class="date">{{ article.created_at }}</li>
            <li class="byline">
               By
               <a href="">{{ article.author.user.username }}</a>
            </li>
         </ul>
      </div>

      <div>{{ article.content }}</div>

      <div class="container">
         <h2>نظرات کاربران</h2>

         <!-- all comments -->
         {% for comment in article.comments.all %}
         <!-- check parent -->
         {% if comment.parent == None %}
         <div
            class="commentItem"
            style="
               padding: 10px;
               display: flex;
               flex-direction: row;
               align-items: flex-start;
               justify-content: flex-start;
               gap: 10px;
               margin-bottom: 15px;
               /* background-color: lightgray; */
            "
         >
            <div
               style="
                  width: 50px;
                  min-width: 50px;
                  height: 100%;
                  padding: 10px 0;
                  margin: 0;
               "
            >
               {% if comment.user.profile.avatar.url %}

               <img
                  style="
                     width: 50px;
                     min-width: 50px;
                     height: 50px;
                     aspect-ratio: 1;
                  "
                  src="{{ comment.user.profile.avatar.url }}"
               />

               {% else %}

               <img
                  style="
                     width: 50px;
                     height: 50px;
                     padding: 0;
                     margin: 0;
                     aspect-ratio: 1;
                  "
                  src="{% static 'avatar/avatar.png' %}"
                  alt=""
               />

               {% endif %}
            </div>

            <div
               style="
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  margin-left: 15px;
                  justify-content: space-between;
                  padding: 0;
                  /* background-color: blueviolet; */
               "
            >
               <div style="display: flex; align-items: center; gap: 30px">
                  <sapn style="margin: 0">{{ comment.user.username }}</sapn>

                  <p style="margin: 0; font-size: 14px; color: grey">
                     {{ comment.created_at }}
                  </p>
               </div>

               <p style="margin: 0; font-size: 14px; text-align: justify">
                  {{ comment.text }}
               </p>

               <div>
                  <form
                     action="{% url 'blog:detail' article.slug %}"
                     method="post"
                     style="display: flex"
                  >
                     {% csrf_token %}
                     <label
                        for="{{ comment.id }}"
                        style="
                           color: grey;
                           font-size: small;
                           padding: 0 5px;
                           margin: 0%;
                           /* background-color: red; */
                        "
                     >
                        پاسخ
                     </label>

                     <input
                        type="text"
                        id="{{ comment.id }}"
                        name="text"
                        style="
                           width: 100%;
                           height: min-content;
                           padding: 0%;
                           margin: 0%;
                           border-bottom: 1px solid grey;
                           font-size: small;
                           /* background-color: blue; */
                        "
                     />
                     <input
                        type="number"
                        value="{{ comment.id }}"
                        name="parent_id"
                        style="display: none"
                     />
                     <button
                        style="
                           width: max-content;
                           height: min-content;
                           padding: 0%;
                           margin: 0%;
                           font-size: small;
                           border: 0;
                           background-color: transparent;
                        "
                        type="submit"
                        name="reply"
                     >
                        ارسال
                     </button>
                  </form>

                  <div>
                     {% for reply in comment.replies.all %}

                     <div>
                        <p>{{ reply.text }}</p>
                     </div>

                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
         {% endif %} {% endfor %}
         <!-- end comments -->

         <!-- new comment -->
         {% if request.user.is_authenticated %}
         <div>
            <h6>نظر خود را وارد کنید</h6>
            <form action="{% url 'blog:detail' article.slug %}" method="post">
               {% csrf_token %}
               <fieldset style="padding: 0">
                  <textarea
                     name="text"
                     id="text"
                     cols="50"
                     rows="4"
                     placeholder="نظر خود را وارد کنید"
                     style="
                        border-right: 1px solid grey;
                        height: 50%px;
                        overflow: hidden;
                        /* background-color: red; */
                        padding: 0 5px;
                     "
                  ></textarea>
               </fieldset>
               <button class="btn btn-sm" type="submit" name="submit">
                  ارسال نظر
               </button>
            </form>
         </div>
         {% endif %}

         <!-- end new -->
      </div>

      <div>
         <div class="entry__author">
            <img
               src="{{ article.author.avatar.url }}"
               alt="{{article.author.user.username}}"
            />

            <div class="entry__author-about">
               <h5 class="entry__author-name">
                  <span>پست شده توسط</span>
                  <div>{{ article.author.user.username }}</div>
               </h5>

               <div class="entry__author-desc">
                  <p>{{ article.author.description }}</p>
                  <p>{{ article.author.description }}</p>
               </div>
            </div>
         </div>
      </div>
   </article>
   <!-- end entry/article -->
</section>

<style>
   .likebtnWrapper {
      width: 100%;
      height: 50px;
      padding: 3px 10px;

      display: flex;
      flex-direction: row;
      gap: 1em;
   }
   .likeBtn {
      padding: 1px 10px;
      /* background-color: aqua; */

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
   }
   .likeBtn > div {
      cursor: pointer;
   }
   .dislikeBtn {
      padding: 1px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
   }
   .dislikeBtn > div {
      cursor: pointer;
   }
</style>

<!-- endblock -->
{% endblock %}
