{% extends 'blog/blog-base.html' %}

<!-- load static  -->
{% load static %}

<!-- load static  -->
{% load render_partial %}

<!-- block content  -->
{% block content %}

<!-- promote articles ============================== -->
<section class="s-featured">
   <div class="row">
      <div class="col-full">
         <div class="featured-slider featured" data-aos="zoom-in">
            {% for promote_article in promote_data %}

            <div class="featured__slide">
               <div class="entry">
                  <div
                     class="entry__background"
                     style="background-image:url('{{ promote_article.cover }}');"
                  ></div>

                  <div class="entry__content">
                     <span class="entry__category">
                        <a href="{{ promote_article.get_absolute_url }}">
                           {{promote_article.category}}
                        </a>
                     </span>

                     <h1>
                        <a
                           href="{{ promote_article.get_absolute_url }}"
                           title=""
                        >
                           {{promote_article.title}}
                        </a>
                     </h1>

                     <div class="entry__info">
                        <a
                           href="{{ promote_article.get_absolute_url }}"
                           class="entry__profile-pic"
                        >
                           <img
                              class="avatar"
                              src="{{ promote_article.avatar }}"
                              alt=""
                           />
                        </a>
                        <ul class="entry__meta">
                           <li>
                              <a href="{{ promote_article.get_absolute_url }}"
                                 >{{promote_article.author}}</a
                              >
                           </li>
                           <li>{{promote_article.created_at}}</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>

            {%endfor%}
         </div>
      </div>
   </div>
</section>

<!-- articles content ============================== -->
<section class="s-content">
   <div class="row entries-wrap wide">
      <div class="entries">
         {% for article in article_list %}
         <article class="col-block">
            <div class="item-entry d-block" data-aos="zoom-in">
               <div class="item-entry__thumb">
                  <a
                     href="{{ article.get_absolute_url }}"
                     class="item-entry__thumb-link"
                  >
                     <img src="{{ article.cover }}" alt="{{article.title}}" />
                  </a>
               </div>

               <div class="item-entry__text">
                  <div class="item-entry__cat">
                     <a href="{{ article.get_absolute_url }}">
                        {{article.category}}
                     </a>
                  </div>

                  <h1 class="item-entry__title">
                     <a href="{{ article.get_absolute_url }}">
                        {{article.title}}
                     </a>
                  </h1>

                  <div class="item-entry__date">
                     <a href="{{ article.get_absolute_url }}"
                        >{{article.created_at}}</a
                     >
                  </div>
               </div>
            </div>
         </article>
         {% endfor %}
      </div>
      <!-- end entries -->
   </div>
   <!-- end entries-wrap -->

   {% if article_list.has_other_pages %}
   <div class="row pagination-wrap">
      <div class="col-full">
         <nav class="pgn" data-aos="fade-up">
            <ul style="user-select: none">
               {% if article_list.has_previous %}
               <li>
                  <a
                     class="pgn__prev"
                     href="/?page={{ article_list.previous_page_number }}"
                     >قبل</a
                  >
               </li>
               {% else %}
               <li
                  class="pgn__prevs disabled"
                  style="
                     color: transparent !important;
                     background-color: transparent !important;
                  "
               ></li>
               {% endif %}

               <!--  -->

               {% for i in article_list.paginator.page_range %}
               <li>
                  {% if i == article_list.number %}

                  <span class="pgn__num current"> {{ i }} </span>

                  {% else %}

                  <a href="/?page={{ i }}" class="pgn__num"> {{ i }} </a>

                  {% endif %}
               </li>

               {% endfor %}

               <!--  -->

               {% if article_list.has_next %}
               <li>
                  <a
                     class="pgn__next"
                     href="/?page={{ article_list.next_page_number }}"
                  ></a>
               </li>
               {% else %}
               <li
                  class="pgn__nexts disabled"
                  style="
                     color: transparent !important;
                     background-color: transparent !important;
                  "
               ></li>
               {% endif %}
            </ul>
            <ul>
               <!-- <li><a class="pgn__num" href="#0">۱</a></li>
               <li><span class="pgn__num current">۲</span></li>
               <li><a class="pgn__num" href="#0">۳</a></li>
               <li><a class="pgn__num" href="#0">۴</a></li>
               <li><a class="pgn__num" href="#0">۵</a></li>
               <li><span class="pgn__num dots">…</span></li>
               <li><a class="pgn__num" href="#0">۸</a></li> -->
            </ul>
         </nav>
      </div>
   </div>

   {% endif %}

   <!-- {% render_partial "blog:sidebar" %} -->
</section>

<!-- end content -->
{% endblock %}
<!-- end block content  -->
